.vs
Bovelo/bin
Bovelo/obj
Bovelo/Bovelo.csproj.user
Bovelo/Bovelo.csproj
Bovelo/App.config
Bovelo/packages.config
Properties
/Bovelo/facture/Amine27-03-21_18_13_29.pdf
/Bovelo/facture/AmineTest27-03-21_18_12_51.pdf
